
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.4rem 0;
  background-color: #440154;
  box-shadow:0px 0px 3px;
  box-sizing: border-box;
  overflow-x: hidden ;
  margin: 0;
  font-family:'Poppins', 'sans-serif';
}

nav ul{
  display: flex;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 0.2rem 1.5rem;
}

.nav-link:hover {
  color: #fde725;
}

.leftmenu{
  padding-right: 8rem;
  padding-left: 0;
  font-size:x-large;
  font-weight:500;
  color: white;
  transform: scale(1, 1.2);
} 

.middlemenu :first-child{
  padding-right: 10px;  
}

.rightmenu {
  margin-right: 0;
  padding-right: 0;
  padding-left: 4rem;
}

#signuplink{
  background-color:#21918c;
  padding: 2px; 
  border-radius: 50px;   
  margin: 4px;
  font-size:small;
  transform: scale(1, 1.2);
}

#loginlink{
  color: white;
  background-color:#5ec962;
  padding: 2px;
  border-radius: 50px; 
  margin: 4px;
  font-size:small;
  transform: scale(1, 1.2);
}
