[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
sqlalchemy-serializer = "*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
flask-bcrypt = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
