.sign-app {
  text-align: center;
  padding: 5rem 1rem;
  background: #FADCD9;
  margin-top:-2rem; 
}

.error {
  color: #E74C3C;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

nav h3 {
  margin: 1rem;
  cursor: pointer;
  color: #F39C12; 
}

nav h3:hover {
  color: white;
}

.sign_container {
  background: #D5E8D4; 
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

.about_container{
  background: #D5E8D4; 
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: #4a5568; 
  border: 2px solid #999999;
  background-color: #F9EBEA; 
  border-radius: 10px;
  outline: none;
}



input:focus,
select:focus {
  border-color: #FADBD8;
}

input::placeholder,
select::placeholder {
  color: #718096; 
}

input[type="checkbox"] {
  width: fit-content;
  margin-right: 0.5rem;
  transform: scale(1.25);
}

button {
  display: block;
  margin: 1rem 0;
  padding: 0.55rem 0.5rem;
  background-color: #440154;
  opacity: 0.7; 
  color: white;
  border: none;
  border-radius: 3px;
  width: 105%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

input.input-error,
select.input-error {
  border-color: #440154; 
}

button:hover {
  opacity: 1;
  
}


/* additional code */
.field{
  min-width:105%;
}

.passwd {
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.signup{
  font-weight: bold;
  float: left;
  cursor: pointer;
}